@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  background-image: linear-gradient(135deg, #3b2667 10%, #bc78ec 100%);
}

img {
  height: 50px;
  width: 50px;
}

svg#github {
  background-color: white;
}

img#blog {
  background-color: white;
  height: 50px;
  width: 50px;
}

h1,
h2 {
  text-align: center;
}

.greeting {
  margin-top: 20vh;
  margin-bottom: 15vh;
  height: auto;
}

.name {
  color: white;
  font-size: 2.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}

.intro {
  color: white;
  font-size: 1.75rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0px 30px;
}

.links {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.links a {
  text-decoration: none;
  color: white;
  margin: 10px 5px;
}

.projects {
  color: black;
  background-color: #ffffffea;
  height: auto;
  padding: 30px;
  width: auto;
}

#projects_title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
}

.project_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project_card {
  color: black;
  border-radius: 10px;
  height: auto;
  width: 425px;
  margin: 20px;
  padding-bottom: 10px;
  background-color: lightgray;
}

.project_title {
  font-size: 1.5rem;
  margin-top: 10%;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.project_links {
  font-size: 1rem;
  text-align: center;
}

.project_links a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.project_links a:visited {
  color: blue;
}

.project_description {
  font-size: 1.25rem;
  min-height: 50px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 0px 30px;
}

.project_languages {
  text-align: center;
  padding: 0px 30px;
}

.blogs {
  color: white;
  background-color: #494950ea;
  height: auto;
  padding: 30px;
  width: auto;
}

#blogs_title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
}

.blog_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.blog_card {
  color: black;
  height: auto;
  border-radius: 10px;
  width: 425px;
  margin: 20px;
  padding-bottom: 10px;
  background-color: rgb(233, 233, 233);
}

.blog_card img {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: auto;
}

.blog_title {
  font-size: 1.5rem;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 50px;
  height: auto;
}

.iconify {
  width: 50px;
  height: auto;
}

.more_blogs{
  display: flex;
  justify-content: center;
}

.more_blogs a{
  background-color: black;
  color: white;
  height: auto;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}